body{
    background-color: rgba(252, 115, 115, 0.5);
}
.navbar{
    background-color: rgba(252, 115, 115, 0.5) !important;
}
.navbar img{
    width: 150px !important;
    height: auto !important;
}
.card1, .card2, .card3{
    display: flex;
    width: 300PX;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 10PX 10PX 10PX 0PX rgb(206, 33, 33);
    margin-top: 10px;
    background-color: white;
}
.maincard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 50px !important;
    margin: 10px;
}
.home, .bouquets, .baskets, .decoration, .contact{
    background-color: rgb(206, 33, 33) !important;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
}
.describe{
text-align: center;
}
.describe p{
    font-size: 20px;
}
.fb-ic, .tw-ic, .gplus-ic, .ins-ic{
    font-size: 30px !important;
    margin-left: 5px;
}
.fa{
    font-size: 30px !important;
    margin-right: 10px;
}
.footer-copyright{
   background-color:  rgb(206, 33, 33) !important;   
}
/*Bouquets & Baskets*/
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image img{
    width: 250px;
    height: 300px;
    margin-top: 20px;
}
.image p{
    font-size: 20px;
}
.image button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
/*Decorations*/
.decorat img{
    width: 350px;
    height: 250px;
    margin-top: 20px;
}
.decorat p{
    font-size: 20px;
}
.decorat button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
.bdecorat img{
    width: 350px;
    height: 300px;
    margin-top: 20px;
}
.bdecorat p{
    font-size: 20px;
}
.bdecorat button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
.cdecorat img{
    width: 350px;
    height: 300px;
    margin-top: 20px;
}
.cdecorat p{
    font-size: 20px;
}
.cdecorat button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
/*Contact Us*/
.con{
    font-size: 20px;
    text-align: center;
}
/*Form*/
.input{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input input{
    width: 350px;
    height: auto;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}
.input button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
}